.error-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #b1c690;
  color: white;
  line-height: 1.875rem;
}

.error-text-container h1 {
  font-size: 1.563rem;
}

.error-text-container p {
  font-size: 0.938;
}

@media (min-width: 650px) {
  .error-text-container h1 {
    font-size: 2.188rem;
  }

  .error-text-container p {
    font-size: 1.563rem;
    line-height: 2.813rem;
  }
}
